@import 'tailwindcss';

@theme {
    --transition-property-width: width;
    --transition-property-height: height;
    --transition-property-bg: background-color;

    --height-88: 22rem;
    --height-120: 30rem;

    --animate-fade-in: fadeIn 0.5s ease-in-out;
    --animate-slide-in-left: slideInLeft 0.2s ease-in-out;

    --font-roboto: Roboto;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    * {
        font-family: var(
            --default-font-family,
            ui-sans-serif,
            system-ui,
            sans-serif,
            'Apple Color Emoji',
            'Segoe UI Emoji',
            'Segoe UI Symbol',
            'Noto Color Emoji'
        );
    }
}

html {
    @apply bg-white dark:bg-zinc-900 text-zinc-800 dark:text-white min-w-[16rem];
    /* @apply bg-white dark:bg-zinc-900; */
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: #60a5fa;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #2a6fc4;
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background-color: #c4c7cc;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #9ca3af;
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
}

@utility default-bg {
    @apply bg-blue-100/30;

    @variant dark {
        background-color: --alpha(var(--color-sky-900) / 10%);
    }

    &.hover {
        --color-default-hover: --alpha(var(--color-blue-400) / 10%);
        --color-default-hover-dark: --alpha(var(--color-sky-900) / 20%);

        @apply hover:bg-[var(--color-default-hover)];

        @variant dark {
            @apply hover:bg-[var(--color-default-hover-dark)];
        }
    }
}

@utility default-border {
    border-width: 1px;
    border-color: var(--color-blue-400);

    @variant dark {
        border-color: --alpha(var(--color-sky-900) / 70%);
    }
}

@utility article {
    .heading {
        @apply text-blue-600 dark:text-sky-400 underline underline-offset-2 decoration-dotted tracking-wide font-semibold text-xl;
    }

    .sitename {
        @apply min-w-fit -mx-1 flex items-center uppercase font-semibold tracking-normal;
    }
}

@utility link {
    @apply text-blue-500 hover:text-blue-700 active:text-blue-800 cursor-pointer;

    @variant dark {
        @apply text-sky-400  hover:text-sky-600  active:text-sky-700;
    }

    &.footer {
        @apply uppercase text-sm text-slate-500 hover:text-sky-500 active:text-sky-700;

        @variant dark {
            @apply hover:text-sky-500;
        }
    }

    &.icon {
        @apply text-slate-500 hover:text-sky-500 active:text-sky-700;

        @variant dark {
            @apply hover:text-sky-500;
        }
    }
}

/* .icon-link {
    @apply text-slate-500 px-2 block dark:text-slate-400 hover:text-sky-500 dark:hover:text-sky-500;
} */

/* 
.default-link {
    @apply text-base md:text-sm text-blue-500 dark:text-sky-300 hover:text-blue-900 dark:hover:text-sky-600 uppercase;
} */

/* 
.footer-link {
    @apply my-1 uppercase text-sm dark:text-slate-400 hover:text-sky-500 dark:hover:text-sky-500;
}

.list-container {
    @apply snap-proximity snap-y bg-white dark:bg-zinc-900/70 rounded-sm shadow-xl overflow-y-auto h-120 mt-4;

    .heading {
        @apply uppercase default-bg pl-8 p-3 text-base text-sky-600 dark:text-sky-400  border-b dark:border-slate-600 shadow-inner;
    }

    .list-wrapper {
        @apply w-full flex flex-col items-center overflow-hidden text-base pb-4;
    }

    .list {
        @apply w-full py-2 pl-10 pr-3 transition duration-150;

        &.first-item {
            @apply hover:bg-slate-100 dark:hover:bg-zinc-900/70;
        }

        &.item {
            @apply border-t border-gray-100 dark:border-gray-600 hover:bg-slate-100 dark:hover:bg-zinc-900/70;
        }
    }
}

.carousel-button {
    @apply border-slate-600 shadow-sm dark:border-slate-400 lg:dark:border-slate-100 hover:text-sky-700 dark:hover:text-sky-400 border hover:border-sky-700 dark:hover:border-blue-400 h-8 md:w-6 md:h-6 flex justify-around items-center rounded-sm duration-150 hover:scale-105 active:scale-95;
}

.carousel-pip {
    @apply hidden md:flex transition-all self-center duration-150 hover:scale-150 active:scale-125 ease-in-out rounded-sm lg:p-1 shadow-sm;

    &.active {
        @apply bg-sky-400 w-3 h-3;
    }

    &.inactive {
        @apply bg-zinc-400 w-2 h-2;
    }
}

.burger-menu-icon {
    @apply border border-zinc-500 rounded-md w-8 h-8 flex items-center justify-center hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300;
}

.article {
    .sitename {
        @apply min-w-fit -mx-1 flex items-center uppercase font-semibold tracking-normal;
    }
    .title {
        @apply font-roboto font-semibold text-lg xl:text-xl  leading-normal line-clamp-3 xl:line-clamp-none;
    }
}

.mobile-menu-item {
    @apply mt-1 overflow-hidden text-base;
}

.mobile-internal-link {
    @apply mt-2 w-full h-10 flex gap-2 items-center rounded-xl px-2;

    &.active {
        @apply bg-zinc-300 dark:bg-zinc-800;
    }

    &.inactive {
        @apply hover:text-sky-400;
    }
}

.mobile-external-link {
    @apply w-full h-10 flex gap-2 items-center hover:text-sky-400 px-2;
}

.left-menu-item {
    @apply tracking-wide overflow-hidden md:ml-2 mt-1 text-base;
}

.left-internal-link {
    @apply transition-bg ease-in-out duration-100 w-full h-12 flex items-center md:rounded-sm p-3;

    &.active {
        @apply text-white bg-sky-600/80 dark:bg-sky-400/10 hover:from-sky-600 hover:to-sky-800 leading-loose shadow-sm;
    }

    &.inactive {
        @apply hover:bg-zinc-100 dark:hover:bg-zinc-900/40 hover:shadow-sm;
    }
}

.left-external-link {
    @apply transition-colors ease-in-out duration-100 hover:bg-zinc-100 dark:hover:bg-zinc-900/40 hover:shadow-sm w-full h-12 flex items-center md:rounded-sm p-3;
} */
