@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-slate-200 dark:bg-zinc-800 text-slate-800 dark:text-white min-w-[16rem];
    overflow: overlay;
}

.overlay {
    overflow: overlay;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: #60a5fa;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #2a6fc4;
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background-color: #c4c7cc;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #9ca3af;
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
}

/* Default Classes */
.default-bg {
    @apply bg-white dark:bg-zinc-900;
}

.default-link {
    @apply text-sm md:text-xs text-blue-500 dark:text-sky-300 hover:text-blue-900 hover:dark:text-sky-600 uppercase;
}

.icon-link {
    @apply px-2 block dark:text-slate-400 hover:text-sky-500 dark:hover:text-sky-500;
}

.footer-link {
    @apply my-1 uppercase text-xs dark:text-slate-400 hover:text-sky-500 dark:hover:text-sky-500;
}

.list-container {
    @apply snap-proximity snap-y bg-white dark:bg-zinc-900/70 rounded shadow-xl overflow-y-auto h-120 mt-4;

    .heading {
        @apply uppercase default-bg pl-8 p-3 text-sm text-sky-600 dark:text-sky-400 font-bold border-b dark:border-slate-600 shadow-inner;
    }

    .list-wrapper {
        @apply w-full flex flex-col items-center overflow-hidden text-sm pb-4;
    }

    .list {
        @apply w-full py-2 pl-10 pr-3 transition duration-150;

        &.first-item {
            @apply hover:bg-slate-100 dark:hover:bg-zinc-900/70;
        }

        &.item {
            @apply border-t border-gray-100 dark:border-gray-600 hover:bg-slate-100 dark:hover:bg-zinc-900/70;
        }
    }
}

.carousel-button {
    @apply border-slate-600 shadow dark:border-slate-400 lg:dark:border-slate-100 hover:text-sky-700 dark:hover:text-sky-400 border hover:border-sky-700 dark:hover:border-blue-400 h-8 md:w-6 md:h-6 flex justify-around items-center rounded duration-150 hover:scale-105 active:scale-95;
}

.carousel-pip {
    @apply hidden md:flex transition-all self-center duration-150 hover:scale-150 active:scale-125 ease-in-out rounded lg:p-1 shadow;

    &.active {
        @apply bg-sky-400 w-3 h-3;
    }

    &.inactive {
        @apply bg-zinc-400 w-2 h-2;
    }
}

.burger-menu-icon {
    @apply border border-zinc-500 rounded-md w-8 h-8 flex items-center justify-center hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300;
}

.mobile-menu-item {
    @apply mt-1 overflow-hidden text-base;
}

.mobile-internal-link {
    @apply mt-2 w-full h-10 flex gap-2 items-center rounded-xl px-2;

    &.active {
        @apply bg-zinc-300 dark:bg-zinc-800;
    }

    &.inactive {
        @apply hover:text-sky-400;
    }
}

.mobile-external-link {
    @apply w-full h-10 flex gap-2 items-center hover:text-sky-400 px-2;
}

.left-menu-item {
    @apply tracking-wide overflow-hidden md:ml-2 mt-1 text-sm;
}

.left-internal-link {
    @apply transition-bg ease-in-out duration-100 w-full h-12 flex items-center md:rounded p-3;

    &.active {
        @apply text-white bg-sky-600/80 dark:bg-sky-400/10 hover:from-sky-600 hover:to-sky-800 leading-loose shadow;
    }

    &.inactive {
        @apply hover:bg-zinc-100 dark:hover:bg-zinc-900/40 hover:shadow;
    }
}

.left-external-link {
    @apply transition-colors ease-in-out duration-100 hover:bg-zinc-100 dark:hover:bg-zinc-900/40 hover:shadow w-full h-12 flex items-center md:rounded p-3;
}